#!/usr/bin/env bash

# +----+
# | ls |
# +----+

alias ls='ls --color=always'
alias l='ls -l'
alias ll='ls -lahF'
alias lc='clear && ll && pwd'

# +----+
# | cp |
# +----+

alias cp='cp -iv'
alias mv='mv -iv'
alias rm='rm -iv'

# +----------+
# | terminal | 
# +----------+

alias f='open -a Finder ./'             # f: Opens current directory in Finder
alias c='clear'                         # c: Clears Terminal display
alias ...='../..'
alias v='vim'
alias p='python3'
alias brew_update='brew update; brew upgrade; brew upgrade --cask; brew cleanup'

# +------+
# | tart |
# +------+

alias tl='tart list'
alias tll='tart list --source local'
alias tn='tart clone ghcr.io/cirruslabs/macos-sequoia-base:latest'
alias tnv='tart clone ghcr.io/cirruslabs/macos-sequoia-vanilla:latest'
alias trun='tart run'
alias trundir='tart run --dir=Shared:~/VMShared'
alias trunvnc='tart run --no-graphics --vnc'
alias trundirvnc='tart run --dir=Shared:~/VMShared --no-graphics --vnc'
alias trunvncdir='trundirvnc'
alias td='tart delete'

# +-----+
# | git |
# +-----+

alias gs='git status'
alias ga='git add'
alias gaa='git add --all'
alias gc='git commit'
alias gp='git push'

# +------+
# | tmux |
# +------+

alias tmls='tmux ls'

# +----------+
# | personal |
# +----------+

alias icloud='cd ~/Library/Mobile\ Documents/com~apple~CloudDocs'
alias iCloud='icloud'
alias mini='open vnc://192.168.4.163'
alias sn='python3 ~/Desktop/Scripts/swapPrestage_v1.1.py'
alias ade='cd /Users/shane.brown/OneDrive\ -\ Jamf/Demo_Resources/Jamf_Connect_Enrollment_Videos'
alias demo_mode='/usr/libexec/PlistBuddy -c "set AllSpacesAndDisplays:Desktop:Content:Choices:0:Files:0:relative file:///Users/shane.brown/Resources/demoModeDesktop.png" ~/Library/Application\ Support/com.apple.wallpaper/Store/Index.plist;
    killall WallpaperAgent;
    defaults write com.apple.dock autohide -bool true && killall Dock;
    defaults write com.apple.menuextra.clock IsAnalog -bool true && killall SystemUIServer;
    defaults write ~/Library/Preferences/com.apple.WindowManager.plist StandardHideDesktopIcons -bool TRUE;
    shortcuts run "Turn DND On";
    mini;
    open /Applications/Google\ Chrome.app;
    rm -rf ~/Downloads/*;'

alias work_mode='/usr/libexec/PlistBuddy -c "set AllSpacesAndDisplays:Desktop:Content:Choices:0:Files:0:relative file:///Users/shane.brown/Resources/defaultDesktop.jpg" ~/Library/Application\ Support/com.apple.wallpaper/Store/Index.plist;
    killall WallpaperAgent;
    defaults write com.apple.dock autohide -bool false && killall Dock;
    defaults write com.apple.menuextra.clock IsAnalog -bool false && killall SystemUIServer;
    defaults write ~/Library/Preferences/com.apple.WindowManager.plist StandardHideDesktopIcons -bool FALSE;
    shortcuts run "Turn DND Off"'


# +-----+
# | zsh |
# +-----+

alias d='dirs -v'
for index ({1..9}) alias "$index"="cd +${index}"; unset index
alias szsh='source ~/.zshrc'
