#!/usr/bin/env bash

# +----+
# | ls |
# +----+

alias ls='ls --color=always'
alias l='ls -l'
alias ll='ls -lahF'
alias lc='clear && ll && pwd'

# +----+
# | cp |
# +----+

alias cp='cp -iv'
alias mv='mv -iv'
alias rm='rm -iv'

# +----------+
# | terminal |
# +----------+

alias f='open -a Finder ./'             # f: Opens current directory in Finder
alias c='clear'                         # c: Clears Terminal display
alias v='vim'
alias p='python3'

# +------+
# | tart |
# +------+

alias tl='tart list'
alias tn='tart clone ghcr.io/cirruslabs/macos-sonoma-base:latest'
alias trun='tart run'
alias trundir='tart run --dir=Shared:~/VMShared'
alias trunvnc='tart run --no-graphics --vnc'
alias trundirvnc='tart run --dir=Shared:~/VMShared --no-graphics --vnc'
alias trunvncdir='trundirvnc'
alias td='tart delete'

# +----------+
# | personal |
# +----------+

alias icloud='cd ~/Library/Mobile\ Documents/com~apple~CloudDocs'
alias iCloud='icloud'
alias mini='open vnc://192.168.4.163'
alias sn='python3 ~/Desktop/Scripts/swapPrestage_v1.1.py'
alias ade='cd /Users/shane.brown/Dropbox\ \(JAMF\ Software\)/Jamf\ Connect-Enrollment\ Videos/'


# +-----+
# | zsh |
# +-----+

alias d='dirs -v'
for index ({1..9}) alias "$index"="cd +${index}"; unset index
alias szsh='source ~/.zshrc'
