#!/usr/bin/env zsh

# -- ls ------------------------------------------------------------------------
alias ls='ls --color=always'
alias l='ls -a1'
alias ll='ls -lahF'
alias lc='clear && l && pwd'
alias lt='ls -lgoht'

# -- cp/mv/rm ------------------------------------------------------------------
alias cp='cp -iv'
alias mv='mv -iv'
alias rm='rm -iv'

# -- terminal ------------------------------------------------------------------
if [[ "$(uname)" == "Darwin" ]]; then   # f: Opens current directory in GUI
  alias f='open -a Finder ./'
else
  alias f='xdg-open .'
fi
alias c='clear'                         # c: Clears Terminal display
alias ...='../..'
alias v='vim'
alias p='python3'
if [[ "$(uname)" == "Darwin" ]];then    # updates brew or dnf based on system
  alias pupdate='brew update; brew upgrade; brew upgrade --cask; brew cleanup'
else
  alias pupdate='sudo dnf update --offline'
fi

# -- tart ----------------------------------------------------------------------
alias tl='tart list'
alias tll='tart list --source local'
alias td='tart delete'
alias tsync='cp $HOME/git-personal/dotfiles/tart-provision.sh $HOME/tart-shared/scripts/tart-provision.sh && \
             cp $HOME/git-personal/dotfiles/system/.zshrc $HOME/tart-shared/.zshrc && \
             cp $HOME/git-personal/dotfiles/system/.aliases $HOME/tart-shared/.aliases && \
             cp $HOME/git-personal/dotfiles/system/.functions $HOME/tart-shared/.functions'
# -- git -----------------------------------------------------------------------
alias gs='git status'
alias ga='git add'
alias gaa='git add --all'
alias gc='git commit'
alias gpush='git push'
alias gpull='git pull'
alias gmerge='git merge'
alias gbl='git branch --list'
alias gbd='git branch -d'
alias gco='git checkout'
alias glog='git log --graph --pretty=oneline --abbrev-commit'

# -- terraform -----------------------------------------------------------------
alias tf='terraform'

# -- tmux ----------------------------------------------------------------------
alias tm='tmux'
alias tma='tmux attach'
alias tmls='tmux list-sessions'
alias tmks='tmux kill-session'
alias tmn='tmux new-session'

# -- personal ------------------------------------------------------------------
alias icloud='cd $HOME/Library/Mobile\ Documents/com~apple~CloudDocs'
alias iCloud='icloud'
alias calls='cd $HOME/Library/CloudStorage/OneDrive-Jamf/se-customer-calls'
alias apt-trade='env XDG_SESSION_TYPE=x11 /mnt/storage/Applications/awakened-poe-trade.AppImage &>/dev/null &'
# -- zsh -----------------------------------------------------------------------
alias d='dirs -v'
for index ({1..9}) alias "$index"="cd +${index}"; unset index
alias szsh='source ~/.zshrc'

# -- fzf -----------------------------------------------------------------------
alias fe="fzf --preview 'bat --style=numbers --color=always --line-range=:500 {}' --bind 'enter:execute(vim {})'"
alias sd='cd ~ && cd \$(find * -type d | fzf)'
